
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">    
        <link rel="stylesheet" href="{{url_for('static',filename='css/plot_style.css')}}"> 
        <script type="text/javascript" src={{cdn_js | safe}}></script>
        <title>Web-client op WIK Aa en Maas</title>
    </head>
    
    <body>
    {{script1 | safe}}
    <form class="right" action="http://localhost:5000/logout" method="POST">
        <button type="submit" style="float: left;"> 
        <img src="static\icons\PNGIX.com_logout-button-png_3396763.png" height="20"/>
    </form>
    </body>
    </html>